$black: #2B3A42;
$white: #EFEFEF;
$grey: grey;
$red: #FF530D;
$green: green;
$blue: #0080c8;
$softblue: #83d0f5;
$darkblue: #173648;
$orange: #ED8C2B;

///

$body_background_color: $white;
$body_background_image: url('../../images/body.jpg');

$headline-font: 'Roboto', sans-serif;
$headline-weight: 700;

$body-font: 'Roboto', sans-serif;
$body-weight: 300;
$body-text-color: $black;
