@font-face {
  font-family: 'Architects Daughter';
  src: url("../../fonts/ArchitectsDaughter.ttf"); }
/*  ----------------------------

		LANDING PAGE

----------------------------  */
#masthead {
  width: 100%;
  background-color: #0080c8;
  background-image: url("../../images/stripe.png"); }

#masthead-background {
  width: 100%;
  height: 100%;
  background-image: url("../../images/landing-intro.png");
  background-position: right bottom;
  background-size: auto 70%;
  background-repeat: no-repeat; }

#masthead-map {
  width: 100%;
  height: 600px;
  background-image: url("../../images/shoremap.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top; }

#masthead-map-overlay {
  width: 100%;
  height: 100%;
  position: relative; }

.subpage-footer {
  margin-bottom: 100px; }

#masthead-map-left {
  width: 50%;
  height: 100%;
  position: relative;
  float: left; }
  #masthead-map-left .masthead-miniheadline {
    display: none;
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding-left: 5%;
    font-size: 2.75rem;
    color: #EFEFEF;
    text-shadow: #2B3A42 1px 0 15px;
    font-weight: bolder; }
    #masthead-map-left .masthead-miniheadline span {
      display: inline-block;
      margin-top: 200px;
      background-color: rgba(23, 54, 72, 0.25);
      padding: 50px 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      border-radius: 25px; }
  #masthead-map-left .mapmarker {
    position: absolute;
    color: #EFEFEF; }
    #masthead-map-left .mapmarker i {
      background-color: rgba(237, 140, 43, 0.75);
      border-radius: 50%; }
  #masthead-map-left .maplabel {
    position: absolute;
    left: 0;
    color: #EFEFEF;
    display: inline;
    text-shadow: #2B3A42 1px 0 15px;
    text-align: right;
    font-family: 'Architects Daughter', sans-serif;
    font-size: 0.85em; }
    #masthead-map-left .maplabel a {
      text-decoration: none; }
      #masthead-map-left .maplabel a:hover {
        color: #ED8C2B;
        -khtml-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s;
        transition: all 0.2s; }
  #masthead-map-left .marker-01 {
    left: 400px; }
  #masthead-map-left .marker-02 {
    left: 375px; }
  #masthead-map-left .marker-03 {
    left: 300px; }
  #masthead-map-left .marker-04 {
    left: 175px; }
  #masthead-map-left .marker-05 {
    left: 175px; }
  #masthead-map-left .marker-06 {
    left: 275px; }
  #masthead-map-left .marker-07 {
    left: 165px; }
  #masthead-map-left .marker-08 {
    left: 165px; }
  #masthead-map-left .marker-09 {
    left: 140px; }
  #masthead-map-left .marker-10 {
    left: 140px; }
  #masthead-map-left .marker-11 {
    left: 95px; }
  #masthead-map-left .marker-12 {
    left: 65px; }
  #masthead-map-left .label-01 {
    width: 600px; }
  #masthead-map-left .label-02 {
    width: 600px; }
  #masthead-map-left .label-03 {
    width: 600px; }
  #masthead-map-left .label-04 {
    width: 500px; }
  #masthead-map-left .label-05 {
    width: 500px; }
  #masthead-map-left .label-06 {
    width: 550px; }
  #masthead-map-left .label-07 {
    width: 550px; }
  #masthead-map-left .label-08 {
    width: 500px; }
  #masthead-map-left .label-09 {
    width: 450px; }
  #masthead-map-left .label-10 {
    width: 400px; }
  #masthead-map-left .marker-01, #masthead-map-left .label-01 {
    top: 200px; }
  #masthead-map-left .marker-02, #masthead-map-left .label-02 {
    top: 242px; }
  #masthead-map-left .marker-03, #masthead-map-left .label-03 {
    top: 284px; }
  #masthead-map-left .marker-04, #masthead-map-left .label-04 {
    top: 326px; }
  #masthead-map-left .marker-05, #masthead-map-left .label-05 {
    top: 368px; }
  #masthead-map-left .marker-06, #masthead-map-left .label-06 {
    top: 410px; }
  #masthead-map-left .marker-07, #masthead-map-left .label-07 {
    top: 452px; }
  #masthead-map-left .marker-08, #masthead-map-left .label-08 {
    top: 494px; }
  #masthead-map-left .marker-09, #masthead-map-left .label-09 {
    top: 536px; }
  #masthead-map-left .marker-10, #masthead-map-left .label-10 {
    top: 578px; }
  #masthead-map-left #masthead-mobileselect {
    display: none;
    background-color: rgba(23, 54, 72, 0.35);
    padding: 25px;
    width: 90%;
    position: absolute;
    left: 5%;
    top: 160px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px; }
    #masthead-map-left #masthead-mobileselect span {
      display: inline-block;
      font-size: 2.25rem;
      font-weight: bolder;
      text-shadow: #2B3A42 1px 0 15px;
      color: #EFEFEF;
      margin-bottom: 50px; }
    #masthead-map-left #masthead-mobileselect .selekt {
      border: 1px solid #173648;
      width: 100%;
      border-radius: 5px;
      overflow: hidden;
      color: #0080c8;
      font-size: 1.2rem;
      text-align: center;
      font-weight: bolder;
      background: #EFEFEF url("../../images/icon-select.png") no-repeat 98% 50%; }
    #masthead-map-left #masthead-mobileselect .selekt select {
      padding: 15px 8px 15px 45px;
      width: 130%;
      border: none;
      box-shadow: none;
      background: transparent;
      background-image: none;
      -webkit-appearance: none;
      background-image: url("../../images/selekt.png");
      background-size: 25px auto;
      background-repeat: no-repeat;
      background-position: 10px center;
      text-align: center; }
    #masthead-map-left #masthead-mobileselect .selekt select:focus {
      outline: none; }
    #masthead-map-left #masthead-mobileselect .masthead-mobileselect-button {
      width: 100%;
      margin-top: 10px;
      text-align: center;
      padding: 15px 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      background-color: orange;
      background-color: #ED8C2B;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f3b272), to(#ED8C2B));
      background-image: -webkit-linear-gradient(top, #f3b272, #ED8C2B);
      background-image: -moz-linear-gradient(top, #f3b272, #ED8C2B);
      background-image: -ms-linear-gradient(top, #f3b272, #ED8C2B);
      background-image: -o-linear-gradient(top, #f3b272, #ED8C2B);
      background-image: linear-gradient(to bottom, #f3b272, #ED8C2B);
      font-weight: bold;
      color: #EFEFEF;
      text-shadow: #173648 1px 0 15px;
      text-transform: uppercase;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 #173648; }

.masthead-logo {
  position: absolute;
  left: 10%;
  top: 25px; }
  .masthead-logo img {
    width: auto;
    height: 85px; }

#masthead-map-right {
  width: 50%;
  height: 100%;
  position: relative;
  float: left; }

.masthead-headline {
  width: 100%;
  height: 100%;
  padding: 0 10%;
  display: table;
  text-align: right; }
  .masthead-headline h1 {
    font-size: 3em;
    color: #EFEFEF;
    font-weight: bolder;
    text-shadow: #010101 1px 0 15px;
    margin-top: 150px; }

.masthead-headline-align {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle; }

.hero-language-flag {
  width: 90px;
  position: absolute;
  right: 10%;
  top: 0;
  background-color: #ED8C2B; }

.hero-language-flag-inner {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 25px 0 10px 0; }
  .hero-language-flag-inner .middle-cell {
    margin: 5px 0; }
  .hero-language-flag-inner img {
    height: 15px; }

.hero-language-tail-left {
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 45px 0 0;
  border-color: #ED8C2B transparent transparent transparent; }

.hero-language-tail-right {
  position: absolute;
  right: 0;
  bottom: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 45px 15px 0;
  border-color: transparent #ED8C2B transparent transparent; }

.hero-language-cell {
  width: 100%;
  font-family: monospace;
  text-transform: uppercase;
  color: #bc6610;
  text-align: center; }
  .hero-language-cell img {
    margin-right: 10px; }

#undermast {
  width: 90%;
  padding: 100px 0;
  margin-left: 5%; }
  #undermast div:nth-child(0) {
    margin-left: 0; }

.undermast-cell {
  width: 32%;
  height: 250px;
  height: 40vh;
  max-height: 350px;
  float: left;
  display: table;
  margin-bottom: 2%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-image: url("../../images/default-bg.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #2B3A42;
  cursor: pointer; }

.undermast-center {
  margin: 0 2%; }

.undermast-cell-overlay {
  width: 100%;
  height: 100%;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  background-color: rgba(43, 58, 66, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #EFEFEF;
  font-weight: bold;
  text-shadow: #2B3A42 1px 0 15px; }
  .undermast-cell-overlay span {
    font-size: 0.9rem;
    display: inline-block;
    margin: 5px 0; }
  .undermast-cell-overlay:hover {
    background-color: transparent;
    -khtml-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }

.undermast-novo-snipe {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #ED8C2B;
  padding: 5px;
  border: 1px solid #bc6610;
  font-size: .9rem;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-shadow: 0 0 0 transparent; }

.undermast-cell-1 {
  background-image: url("../../images/undermast-cell-1.jpg"); }

.undermast-cell-2 {
  background-image: url("../../images/undermast-cell-2.jpg"); }

.undermast-cell-3 {
  background-image: url("../../images/undermast-cell-3.jpg"); }

.undermast-cell-4 {
  background-image: url("../../images/undermast-cell-4.jpg"); }

.undermast-cell-5 {
  background-image: url("../../images/undermast-cell-5.jpg"); }

.undermast-cell-6 {
  background-image: url("../../images/undermast-cell-6.jpg"); }

#landing-options {
  width: 100%;
  padding: 100px 5%;
  background-color: #83d0f5;
  color: #173648; }
  #landing-options span:first-of-type {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 50px; }

.landing-options-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .landing-options-items img {
    height: 150px; }

.landing-options-fields {
  width: 100%;
  margin: 50px 0; }
  .landing-options-fields .select-style {
    border: 1px solid #0080c8;
    width: 32%;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    color: #0080c8;
    background: #EFEFEF url("../../images/icon-select.png") no-repeat 98% 50%; }
  .landing-options-fields .select-style select {
    padding: 15px 8px 15px 45px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    background-image: url("../../images/select-style-1.png");
    background-size: 25px auto;
    background-repeat: no-repeat;
    background-position: 10px center; }
  .landing-options-fields .select-style select:focus {
    outline: none; }
  .landing-options-fields .select-style-2 {
    border: 1px solid #0080c8;
    width: 32%;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    /*color: $blue;*/
    background: #EFEFEF url("../../images/icon-select.png") no-repeat 98% 50%; }
  .landing-options-fields .select-style-2 select {
    padding: 15px 8px 15px 45px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    background-image: url("../../images/select-style-2.png");
    background-size: 25px auto;
    background-repeat: no-repeat;
    background-position: 10px center; }
  .landing-options-fields .select-style-2 select:focus {
    outline: none; }
  .landing-options-fields .select-style-3 {
    border: 1px solid #0080c8;
    width: 32%;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    color: #0080c8;
    background: #EFEFEF url("../../images/icon-select.png") no-repeat 98% 50%; }
  .landing-options-fields .select-style-3 select {
    padding: 15px 8px 15px 45px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    background-image: url("../../images/select-style-3.png");
    background-size: 25px auto;
    background-repeat: no-repeat;
    background-position: 10px center; }
  .landing-options-fields .select-style-3 select:focus {
    outline: none; }
  .landing-options-fields .select-middle {
    margin: 0 2%; }

.landing-options-button {
  width: 32%;
  float: right;
  padding: 15px;
  text-align: center;
  color: #EFEFEF;
  background-color: #ED8C2B;
  background-color: #ED8C2B;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3b272), to(#ED8C2B));
  background-image: -webkit-linear-gradient(top, #f3b272, #ED8C2B);
  background-image: -moz-linear-gradient(top, #f3b272, #ED8C2B);
  background-image: -ms-linear-gradient(top, #f3b272, #ED8C2B);
  background-image: -o-linear-gradient(top, #f3b272, #ED8C2B);
  background-image: linear-gradient(to bottom, #f3b272, #ED8C2B);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #0080c8;
  font-weight: bolder;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-shadow: #ED8C2B 1px 0 15px;
  cursor: pointer;
  cursor: hand; }
  .landing-options-button:hover {
    background-color: #eb7f14;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f1a65a), to(#eb7f14));
    background-image: -webkit-linear-gradient(top, #f1a65a, #eb7f14);
    background-image: -moz-linear-gradient(top, #f1a65a, #eb7f14);
    background-image: -ms-linear-gradient(top, #f1a65a, #eb7f14);
    background-image: -o-linear-gradient(top, #f1a65a, #eb7f14);
    background-image: linear-gradient(to bottom, #f1a65a, #eb7f14);
    -khtml-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }

#landing-bigfeatures {
  width: 100%;
  padding-bottom: 100px;
  background-color: #EFEFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-image: url("../../images/stripe.png"); }

.landing-bigfeatures-left {
  width: 50%;
  min-height: 500px;
  position: relative;
  float: left;
  background-image: url("../../images/default-bg.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center; }

.landing-bigfeatures-date {
  width: 75px;
  height: 75px;
  display: table;
  position: absolute;
  left: 10%;
  top: 25px;
  border: 2px solid #ED8C2B;
  color: #ED8C2B;
  text-align: center;
  border-radius: 50%; }

.landing-bigfeatures-date-align {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.25rem;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg); }

.landing-bigfeatures-left-1 {
  background-image: url("../../images/landing-bigfeatures-left-1.jpg"); }

.landing-bigfeatures-left-2 {
  background-image: url("../../images/landing-bigfeatures-left-2.jpg"); }

.landing-bigfeatures-left-3 {
  background-image: url("../../images/landing-bigfeatures-left-3.jpg"); }

.landing-bigfeatures-right {
  width: 50%;
  float: right;
  position: relative;
  padding: 100px 5% 100px 5%; }
  .landing-bigfeatures-right span {
    display: inline-block;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 25px; }

.landing-bigfeatures-readmore {
  position: absolute;
  right: 10%;
  bottom: 25px;
  border: 2px solid #0080c8;
  color: #0080c8;
  font-weight: bolder;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 grey;
  padding: 10px 25px 10px 5%;
  cursor: pointer; }
  .landing-bigfeatures-readmore:hover {
    background-color: #0080c8;
    color: #EFEFEF;
    -khtml-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }

/*  ----------------------------

		SUBPAGES

----------------------------  */
#subpage-masthead {
  width: 100%;
  height: 700px;
  background-color: #0080c8;
  background-size: cover;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #FF530D; }

.subpage-masthead-lagoinha {
  background-image: url("../../images/subpage-masthead-lagoinha.jpg");
  background-position: right top; }

.subpage-masthead-toninhas {
  background-image: url("../../images/subpage-masthead-toninhas.jpg");
  background-position: bottom right; }

.subpage-masthead-felix {
  background-image: url("../../images/subpage-masthead-felix.jpg");
  background-position: right top; }

.subpage-masthead-itagua {
  background-image: url("../../images/subpage-masthead-itagua.jpg");
  background-position: right; }

.subpage-masthead-maranduba {
  background-image: url("../../images/subpage-masthead-maranduba.jpg");
  background-position: bottom; }

.subpage-masthead-acu {
  background-image: url("../../images/subpage-masthead-acu.jpg");
  background-position: bottom; }

.subpage-masthead-mirim {
  background-image: url("../../images/subpage-masthead-mirim.jpg");
  background-position: bottom; }

.subpage-masthead-grande {
  background-image: url("../../images/subpage-masthead-grande.jpg");
  background-position: right top; }

.subpage-masthead-itambuca {
  background-image: url("../../images/subpage-masthead-itamambuca.jpg");
  background-position: center; }

.subpage-masthead-vermelha {
  background-image: url("../../images/subpage-masthead-vermelha.jpg");
  background-position: right; }

#subpage-masthead-overlay {
  width: 100%;
  height: 100%;
  background-image: url("../../images/shoremap.png");
  background-size: auto calc(100% - 100px);
  background-repeat: no-repeat;
  background-position: left top;
  background-color: rgba(0, 128, 200, 0.75);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 grey; }

#subpage-masthead-left,
#subpage-masthead-right {
  width: 50%;
  height: 100%;
  float: left;
  position: relative; }

@-webkit-keyframes backandforth {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px); }
  50% {
    -webkit-transform: translate(4px);
    transform: translate(4px); }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px); } }
@keyframes backandforth {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px); }
  50% {
    -webkit-transform: translate(4px);
    transform: translate(4px); }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px); } }
.subpage-bullseye {
  width: 75px;
  height: 75px;
  position: relative;
  background-image: url("../../images/subpage-bullseye.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation: backandforth .75s;
  -webkit-animation-iteration-count: infinite;
  animation: backandforth .75s;
  animation-iteration-count: infinite; }

.subpage-bullseye-lagoinha {
  left: 140px;
  top: 555px; }

.subpage-bullseye-toninhas {
  left: 165px;
  top: 442px; }

.subpage-bullseye-felix {
  left: 415px;
  top: 175px; }

.subpage-bullseye-itagua {
  left: 190px;
  top: 300px; }

.subpage-bullseye-maranduba {
  left: 152px;
  top: 512px; }

.subpage-bullseye-acu {
  left: 298px;
  top: 265px; }

.subpage-bullseye-mirim {
  left: 172px;
  top: 480px; }

.subpage-bullseye-grande {
  left: 286px;
  top: 385px; }

.subpage-bullseye-itambuca {
  left: 380px;
  top: 220px; }

.subpage-bullseye-vermelha {
  left: 175px;
  top: 350px; }

#subpage-masthead-headline {
  width: 50%;
  height: 100%;
  height: 700px;
  position: absolute;
  left: 25%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center; }
  #subpage-masthead-headline h1 {
    width: 100%;
    font-size: 3em;
    color: #EFEFEF;
    font-weight: bolder;
    text-shadow: #010101 1px 0 15px;
    margin-top: 150px; }

.subpage-masthead-button {
  width: 70%;
  margin-top: 25px;
  /*border: 2px solid $white;*/
  background-color: rgba(23, 54, 72, 0.15);
  padding: 15px;
  color: #EFEFEF;
  font-weight: bold;
  text-shadow: #2B3A42 1px 0 15px;
  font-size: 1.75rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .subpage-masthead-button span {
    color: #ED8C2B;
    background-color: #EFEFEF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0 0 0 transparent; }

#subpage-listings {
  width: 100%;
  padding: 100px 5% 0 5%;
  background-color: #EFEFEF;
  background-image: url("../../images/stripe.png"); }

.subpage-listing-cell {
  width: 100%;
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.subpage-listing-cell-left {
  width: 50%;
  min-height: 275px;
  position: relative;
  float: left;
  background-color: grey;
  cursor: pointer;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 grey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-size: cover; }

.subpage-listing-price {
  position: absolute;
  left: 25px;
  top: -10px;
  padding: 20px 25px 20px 25px;
  background-color: #ED8C2B;
  color: #EFEFEF;
  text-shadow: #8d4c0c 1px 0 15px;
  font-size: 2rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  text-align: center; }
  .subpage-listing-price span {
    font-size: 1rem; }

.subpage-listing-cell-right {
  width: 50%;
  float: left;
  padding-left: 5%; }
  .subpage-listing-cell-right span {
    font-size: 2rem;
    color: #173648;
    display: inline-block;
    margin-bottom: 25px; }

.subpage-listing-attributes {
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid #173648;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #173648; }
  .subpage-listing-attributes i {
    margin-right: 10px; }
  .subpage-listing-attributes .a1 {
    color: grey;
    text-decoration: line-through; }
  .subpage-listing-attributes p {
    line-height: 1.5; }

.subpage-listing-rent-button {
  display: inline-block;
  float: right;
  margin-top: 25px;
  border: 2px solid #0080c8;
  color: #0080c8;
  font-weight: bolder;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 grey;
  padding: 10px 25px 10px 5%;
  cursor: pointer; }
  .subpage-listing-rent-button:hover {
    background-color: #0080c8;
    color: #EFEFEF;
    -khtml-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }

/*  ----------------------------

		FOOTERS

----------------------------  */
#topfooter {
  width: 100%;
  background-color: #83d0f5;
  padding: 100px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-image: url("../../images/topfooter.png");
  background-repeat: no-repeat;
  background-position: right 25px;
  background-size: 75% auto; }

.topfooter-cell {
  width: 225px;
  height: 225px;
  position: relative;
  background-color: #EFEFEF;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .topfooter-cell ::-moz-selection {
    background: #0080c8; }
  .topfooter-cell ::selection {
    background: #0080c8; }
  .topfooter-cell ::-moz-selection {
    background: #0080c8; }

.topfooter-cell-snipe {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background-image: url("../../images/topfooter-cell-snipe.png");
  background-size: 100% 100%; }
  .topfooter-cell-snipe i {
    font-size: 2rem;
    color: #0080c8; }

.topfooter-cell-text {
  width: 100%;
  position: absolute;
  bottom: 15px;
  right: 0;
  text-align: center;
  color: #0080c8;
  font-family: 'Architects Daughter', sans-serif;
  font-size: .85em;
  text-shadow: #EFEFEF 1px 0 15px; }

.topfooter-bignumber {
  font-size: 4rem;
  color: #ED8C2B; }
  .topfooter-bignumber span {
    font-size: 2rem; }

#middlefooter {
  width: 100%;
  background-color: #0080c8;
  padding: 100px 5%; }

.middlefooter-speechbubble {
  width: 100%;
  background-color: #83d0f5;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  background-image: url("../../images/quotes-open.png");
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: 25px 25px; }

.middlefooter-speechbubble-overlay {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 50px 10%;
  background-image: url("../../images/quotes-close.png");
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: bottom 25px right 25px;
  color: #005f95;
  font-size: 2rem;
  font-weight: bolder; }

.middlefooter-speechbubble-tail {
  position: absolute;
  right: 50px;
  bottom: -50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #83d0f5 transparent transparent transparent; }

.middlefooter-speechbubble-name {
  width: 100%;
  height: 50px;
  padding: 25px 150px 0 0;
  text-align: right;
  color: #EFEFEF;
  font-family: 'Architects Daughter', sans-serif;
  font-family: 0.85em; }

footer {
  width: 100%;
  background-color: #173648;
  padding: 50px 0;
  color: #5C8094;
  font-size: 1rem; }

#footer-cell-container {
  width: 90%;
  margin-left: 5%; }

.footer-cell {
  width: 32%;
  float: left; }
  .footer-cell img {
    width: auto;
    height: 75px; }
  .footer-cell .copyright {
    display: inline-block;
    margin-bottom: 10px; }

.footer-middle {
  margin: 0 2%; }
  .footer-middle a {
    color: #d37312;
    text-decoration: none; }

.footer-buttons {
  text-align: right; }
  .footer-buttons i {
    font-size: 2rem;
    margin-right: 10px; }
  .footer-buttons span {
    background-color: #ED8C2B;
    color: #EFEFEF;
    padding: 8px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }

#grave {
  width: 100%;
  height: 25px;
  background-color: #2B3A42; }

/*# sourceMappingURL=development.css.map */
